<% provide :title, t("static_pages.home.help") %>
<h1><%= t "static_pages.home.help" %></h1>
<p><%= t "static_pages.home.get_help" %>
  <em><%= link_to t("static_pages.home.help_page"),
    "http://www.railstutorial.org/help" %></em>
</p>
</p><%= t "static_pages.home.to_get" %>
  <em><%= link_to t("static_pages.home.sample_book"),
    "http://www.railstutorial.org/book" %></em>
</p>
<%= render "layouts/contact_about" %>
